.App {
  text-align: center;
}

.body {
  background-color: black;
  color: white;
}

.input {
  border-radius: 17px 0 0 17px;
  border: 1px solid #bfafaf;
  background-color: black;
  color: white;
  height: 40px;
  width: 300px;
}

.imd1 {
  width: 60px;
  height: 30px;
  border-radius: 5px;
}

.icon {
  background-color: #4e4b4b;
  color: white;
  width: 63px;
  height: 41px;
  border-radius: 0 20px 20px 0;
}

.imgbot {
  width: 750px;
  height: 350px;
  margin-left: 20%;
}

.darg {
  width: 800px;
  height: 300px;
  margin-left: 20%;
}

.btn {
  margin-left: 50%;
}

.moveimge {
  width: 400px;
  height: 300px;
}

.effe:hover {
  background-color: grey;
}
